<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/Volumes/Macintosh HD/Users/lucienmadl/GitHub/ese2015-team7/Prototype/Skeleton"/>
</launchConfiguration>
